Let us first open one of the most recent .csv file (Requests from 2023) we have for an initial Data Exploratory Analysis

In [1]:
import pandas as pd

/Users/themistoklis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/themistoklis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [3]:
df = pd.read_csv('/Users/themistoklis/Desktop/BU/Animal Reports/Analyze Boston/Boston_311_service_request_2023.csv')
df.head()

/var/folders/qf/yh559xpx4dv12z0mkyw5cvr80000gn/T/ipykernel_6361/3101638802.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/themistoklis/Desktop/BU/Animal Reports/Analyze Boston/Boston_311_service_request_2023.csv')

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
0,101005184758,2023-11-30 09:17:00,2023-12-01 09:17:52,2023-11-30 23:34:48,ONTIME,Closed,Case Closed. Closed date : Fri Dec 01 04:34:48...,Requests for Street Cleaning,Public Works Department,Street Cleaning,...,Greater Mattapan,9,14,1409,INTERSECTION Blue Hill Ave & American Legion Hwy,NaN,42.298179,-71.086922,0101000020E6100000A1572A2290C551C097D0CCBA2A26...,Constituent Call
1,101005187668,2023-12-02 17:53:40,2023-12-05 03:30:00,2023-12-03 04:26:55,ONTIME,Closed,Case Closed. Closed date : Sun Dec 03 09:26:55...,Requests for Street Cleaning,Public Works Department,Street Cleaning,...,Dorchester,8,Ward 15,1507,152 Homes Ave,2122.0,42.304260,-71.064251,0101000020E6100000A96478AE1CC451C0285CF3F9F126...,Citizens Connect App
2,101005184751,2023-11-30 09:12:55,2023-12-01 09:12:57,2023-11-30 09:33:07,ONTIME,Closed,Case Closed. Closed date : Thu Nov 30 14:33:07...,CE Collection,Public Works Department,Street Cleaning,...,Dorchester,8,Ward 15,1505,108 Westville St,2124.0,42.300950,-71.068161,0101000020E6100000C9C043BE5CC451C0F058B3838526...,City Worker App
3,101005187656,2023-12-02 17:06:00,2023-12-11 03:30:00,NaN,OVERDUE,Open,,PWD Graffiti,Public Works Department,Highway Maintenance,...,Fenway / Kenmore / Audubon Circle / Longwood,14,4,0407,INTERSECTION Edgerly Rd & New Edgerly Rd,NaN,42.343791,-71.086919,0101000020E6100000E3E1211690C551C029C11E58012C...,Citizens Connect App
4,101005184769,2023-11-30 09:23:00,NaN,2023-12-19 11:15:33,ONTIME,Closed,Case Closed. Closed date : 2023-12-19 16:15:33...,Mattress Pickup,Public Works Department,Sanitation,...,Hyde Park,10,Ward 18,1818,1414 Hyde Park Ave,2136.0,42.250370,-71.125881,0101000020E61000009D68836E0EC851C09726A51C0C20...,Constituent Call

In [3]:
print(df.shape)

(313226, 30)

We can see that this file contains 313226 requests and they are described by 30 columns.

Lets see what are those columns corespond to.

In [4]:
print(df.columns)

Index(['case_enquiry_id', 'open_dt', 'sla_target_dt', 'closed_dt', 'on_time',
       'case_status', 'closure_reason', 'case_title', 'subject', 'reason',
       'type', 'queue', 'department', 'submitted_photo', 'closed_photo',
       'location', 'fire_district', 'pwd_district', 'city_council_district',
       'police_district', 'neighborhood', 'neighborhood_services_district',
       'ward', 'precinct', 'location_street_name', 'location_zipcode',
       'latitude', 'longitude', 'geom_4326', 'source'],
      dtype='object')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313226 entries, 0 to 313225
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   case_enquiry_id                 313226 non-null  int64
 1   open_dt                         313226 non-null  object
 2   sla_target_dt                   247251 non-null  object
 3   closed_dt                       283359 non-null  object
 4   on_time                         313226 non-null  object
 5   case_status                     313226 non-null  object
 6   closure_reason                  313226 non-null  object
 7   case_title                      313226 non-null  object
 8   subject                         313226 non-null  object
 9   reason                          313226 non-null  object
 10  type                            313226 non-null  object
 11  queue                           313226 non-null  object
 12  department                      313226 non-null  object
 13  submitted_photo                 228 non-null     object
 14  closed_photo                    82285 non-null   object
 15  location                        313226 non-null  object
 16  fire_district                   312719 non-null  object
 17  pwd_district                    313159 non-null  object
 18  city_council_district           313219 non-null  object
 19  police_district                 313164 non-null  object
 20  neighborhood                    313010 non-null  object
 21  neighborhood_services_district  313216 non-null  object
 22  ward                            313223 non-null  object
 23  precinct                        313103 non-null  object
 24  location_street_name            310240 non-null  object
 25  location_zipcode                256596 non-null  float64
 26  latitude                        310933 non-null  float64
 27  longitude                       310933 non-null  float64
 28  geom_4326                       310933 non-null  object
 29  source                          313226 non-null  object
dtypes: float64(3), int64(1), object(26)
memory usage: 71.7+ MB
None

We can also have some initial info about the current file but it does not seem to be that helpful.

In [6]:
df.describe(include='all')

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
count,3.132260e+05,313226,247251,283359,313226,313226,313226,313226,313226,313226,...,313010,313216,313223,313103,310240,256596.000000,310933.000000,310933.000000,310933,313226
unique,NaN,273520,132079,257888,2,2,277694,5680,10,44,...,24,17,55,255,82650,NaN,NaN,NaN,92678,6
top,NaN,2023-08-21 12:16:31,2023-09-06 04:30:00,2023-05-05 06:08:12,ONTIME,Closed,,Parking Enforcement,Public Works Department,Enforcement & Abandoned Vehicles,...,Dorchester,14,Ward 18,0306,1 City Hall Plz,NaN,NaN,NaN,0101000020E610000045B630A2A6C451C0AAF76BFA602C...,Citizens Connect App
freq,NaN,37,2137,36,254459,283359,29789,56942,181343,61541,...,47129,31346,17880,6174,221,NaN,NaN,NaN,200,141423
mean,1.010049e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2126.907832,42.327374,-71.083125,NaN,NaN
std,1.763593e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.045296,0.033232,0.035718,NaN,NaN
min,1.010046e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2108.000000,42.230291,-71.185623,NaN,NaN
25%,1.010048e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2119.000000,42.301220,-71.105270,NaN,NaN
50%,1.010049e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2126.000000,42.333980,-71.075368,NaN,NaN
75%,1.010051e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2130.000000,42.351280,-71.058610,NaN,NaN
max,1.010052e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2467.000000,42.398986,-70.986270,NaN,NaN

Just like before, due to the nature of the columns, the descripiton of the dataset does not seem really heplful.

All this information refer to every kind of request. Let us now filter out the irelevant requests.

In [24]:
#keep rows that have "animal" in the "case_title" column
df_filtered= df[df['case_title'].str.contains('animal', case=False)]
print("Out of ", df.shape[0], " requests, ", df_filtered.shape[0], " requests are related to animals")

Out of  313226  requests,  11011  requests are related to animals

In [25]:
df_filtered.head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
13,101005187223,2023-12-02 07:57:00,NaN,2023-12-04 04:13:13,ONTIME,Closed,Case Closed. Closed date : 2023-12-04 09:13:13...,Animal Generic Request,Animal Control,Animal Issues,...,Roxbury,13,Ward 12,1204,60 Edgewood St,2119.0,42.318020,-71.079171,0101000020E6100000A73E7F2111C551C0FCC959DDB428...,Constituent Call
15,101005186086,2023-12-01 08:40:28,2023-12-04 08:40:29,2023-12-01 09:19:50,ONTIME,Closed,Case Closed. Closed date : Fri Dec 01 14:19:50...,Pick up Dead Animal,Public Works Department,Street Cleaning,...,Boston,3,03,0301,102 Union Whf,2109.0,42.365470,-71.050880,0101000020E6100000D8E0EC9F41C351C0199B74B4C72E...,Citizens Connect App
110,101004971366,2023-08-06 10:53:00,NaN,NaN,ONTIME,Open,,Animal Generic Request,Animal Control,Animal Issues,...,Brighton,15,21,2116,2450 Beacon St,2135.0,42.331689,-71.155636,0101000020E6100000D0F58AEFF5C951C00ED914C6742A...,Constituent Call
123,101004931303,2023-07-18 14:01:12,2023-07-20 04:30:00,2023-07-18 16:11:21,ONTIME,Closed,Case Closed. Closed date : Tue Jul 18 20:11:21...,Pick up Dead Animal,Public Works Department,Street Cleaning,...,South Boston / South Boston Waterfront,5,Ward 6,0601,420 E St,2210.0,42.341740,-71.045460,0101000020E6100000AD3DF8D2E8C251C0D59DBE1EBE2B...,Citizens Connect App
129,101005033448,2023-09-04 08:46:57,2023-09-06 04:30:00,2023-09-04 09:40:59,ONTIME,Closed,Case Closed. Closed date : Mon Sep 04 13:40:59...,Pick up Dead Animal,Public Works Department,Street Cleaning,...,South End,6,9,0901,INTERSECTION San Juan St & Newland St,NaN,42.340307,-71.074339,0101000020E610000056ED0AF9C1C451C063A30E2C8F2B...,Citizens Connect App

In [10]:
df_filtered.describe(include='all')

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
count,1.101100e+04,11011,6849,10185,11011,11011,11011,11011,11011,11011,...,11001,11011,11011,11011,11007,9141.000000,11005.000000,11005.000000,11005,11011
unique,NaN,10935,2871,10185,2,2,10153,7,3,5,...,24,17,55,255,8584,NaN,NaN,NaN,8771,5
top,NaN,2023-01-28 07:55:57,2023-09-06 04:30:00,2023-12-04 04:13:13,ONTIME,Closed,,Pick up Dead Animal,Public Works Department,Street Cleaning,...,Dorchester,10,Ward 18,0306,350 S Huntington Ave,NaN,NaN,NaN,0101000020E610000054A02A541BC751C0CBF428455029...,Constituent Call
freq,NaN,4,85,1,10507,10185,824,6858,6835,6828,...,1896,1153,679,246,44,NaN,NaN,NaN,44,5851
mean,1.010049e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2128.326660,42.323475,-71.088714,NaN,NaN
std,1.658530e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.434365,0.033551,0.036839,NaN,NaN
min,1.010046e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2108.000000,42.232710,-71.185400,NaN,NaN
25%,1.010048e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2121.000000,42.294006,-71.116441,NaN,NaN
50%,1.010049e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2126.000000,42.326900,-71.079571,NaN,NaN
75%,1.010051e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2131.000000,42.350635,-71.061770,NaN,NaN
max,1.010052e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2467.000000,42.393517,-70.996384,NaN,NaN

With this initial insight, we can move onwards and apply a similar workflow for every year. We will first create a .csv file that contains only animal related requests and then perform our analysis.