In [7]:
import pandas as pd

# Replace 'your_file.csv' with the actual file path or URL
file_path = '/Users/samdvorin/Desktop/code/506/ds-boston-311-animal-reports/sp24-team-c/data/animal_related_complaints_2011_2024.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path, low_memory=False)

# Now 'df' contains your data as a pandas DataFrame

column_names_list = df.columns.tolist()
print(column_names_list)
df.head(1)

['_id', 'case_enquiry_id', 'open_dt', 'sla_target_dt', 'closed_dt', 'on_time', 'case_status', 'closure_reason', 'case_title', 'subject', 'reason', 'type', 'queue', 'department', 'submitted_photo', 'closed_photo', 'location', 'fire_district', 'pwd_district', 'city_council_district', 'police_district', 'neighborhood', 'neighborhood_services_district', 'ward', 'precinct', 'location_street_name', 'location_zipcode', 'latitude', 'longitude', 'geom_4326', 'source']

,_id,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
0,9,101000295622,2011-07-01 02:44:50,2011-07-04 02:44:49,2011-07-01 02:44:55,ONTIME,Closed,Case Closed Internal Case,Pick up Dead Animal,Public Works Department,...,Dorchester,7,Ward 16,1602,305 Freeport St,2122.0,42.30202,-71.051911,0101000020E6100000AC4EA98052C351C098735293A826...,Employee Generated

In [ ]:
# for each graph pull the spec. rows u need and then make the graph